{% extends "base_generic.html" %}

{% block content %}
    <h1>Список категорий:</h1>

    {% if category_list %}
        <ul>
            {% for category in category_list %}
                <li>
                    <a href="{{ category.get_absolute_url }}">
                        {{ category.name }}
                    </a>
                    {% with category_products=category.category_product_set.all %}
                        {% if category_products %}
                            <ul>
                                {% for category_product in category_products %}
                                    <li>
                                        <a href="{{ category_product.product.get_absolute_url }}">
                                            {{ category_product.product.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Нет товаров в данной категории.</p>
                        {% endif %}
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Не существует ни одной категории.</p>
    {% endif %}
{% endblock %}
