{% extends "base_generic.html" %}

{% block content %}
{% if user.is_staff %}
    <h1>Список поставщиков:</h1>
    {% if supplier_list %}
        <ul>
        {% for supplier in supplier_list %}
            <li>
                <a href="{{ supplier.get_absolute_url }}">{{ supplier.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Нет доступных поставщиков.</p>
    {% endif %}
{% else %}
    <p>У вас нет доступа к этой странице. Пожалуйста, войдите под учетной записью с правами доступа.</p>
{% endif %}
{% endblock %}